<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" />
    {% block head %}{% endblock %}
</head>
<body>
<div id="content">



    <div class="sf-reset">
        {% block body %}
        test
        {% endblock %}
    </div>
</div>
</body>
</html>
