<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
        <script   src="https://code.jquery.com/jquery-1.12.4.js"   integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="   crossorigin="anonymous"></script>
        <script   src="{{ asset('bundles/app/js/main.js') }}"></script>

    </head>
    <body>
    <header>
        <div class="menu">
            <ul>
                <li>MenuItem 1</li>
                <li>MenuItem 2</li>
                <li>MenuItem 3</li>
                <li>MenuItem 4</li>
                <li>MenuItem 5</li>
                <li>MenuItem 6</li>
                <li>MenuItem 7</li>
                <li>MenuItem 8</li>
                <li>MenuItem 9</li>
                <li>MenuItem 10</li>
                <li>MenuItem 11</li>
                <li>MenuItem 12</li>
            </ul>
            <ul>
                <li><a href="/cart">Go to Checkout (0)</a></li>
            </ul>
        </div>
    </header>
        {% block body %}{% endblock %}
    <footer>
        Copyrights
    </footer>

        {% block javascripts %}{% endblock %}

    </body>
</html>
