<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<header class="js-sticky-menu-container">
    <div class="js-sticky-menu header">
        <div class="menu">

            <button class="button-mobile-menu js-button-mobile-menu">
                <i class="material-icons">menu</i> <span class="button-mobile-menu__label">Menu</span>

            </button>
            <div class="brand">Acme store</div>

            <ul>
                <li class="checkout-button"><a href="/cart"><span
                                class="checkout-button__label">Go to Checkout</span><span class="checkout-button__icon"><i
                                    class="material-icons">shopping_cart</i></span>
                        <span class="js-basket-value">0</span></a></li>
            </ul>
        </div>
        <ul class="main-nav">
            <li>MenuItem 1</li>
            <li>MenuItem 2</li>
            <li>MenuItem 3</li>
            <li>MenuItem 4</li>
            <li>MenuItem 5</li>
            <li>MenuItem 6</li>
            <li>MenuItem 7</li>
            <li>MenuItem 8</li>
            <li>MenuItem 9</li>
            <li>MenuItem 10</li>
            <li>MenuItem 11</li>
            <li>MenuItem 12</li>
        </ul>
    </div>
</header>
<div class="content">
    {% block body %}{% endblock %}
</div>
<footer>
    Copyrights
</footer>

{% block javascripts %}{% endblock %}

</body>
</html>
