@charset "UTF-8";
.input__label {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #2C2E2D; }

body {
  margin: 0; }

footer {
  border: 1px solid #000;
  width: 100%; }

hr {
  margin: 0; }

* {
  box-sizing: border-box; }

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
  @media all and (min-width: 767px) {
    .container {
      display: flex;
      width: 760px; } }

.col-md-6 {
  margin-bottom: 50px; }
  @media all and (min-width: 767px) {
    .col-md-6 {
      flex: 0 50%;
      padding: 0 15px; } }

.col-xs-12 {
  width: 100%; }

.center {
  text-align: center; }

@media all and (min-width: 767px) {
  .wide-padding {
    padding: 0 40px; } }

.order-summary__fields {
  flex: 1; }

.order-summary__image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: 0 0 10px 10px;
  background-color: #6E4099; }
  .order-summary__image img {
    max-width: 80px;
    max-height: 80px; }

.order-summary__hr {
  padding-bottom: 40px; }

.order-summary__row {
  display: flex; }

.order-summary__product-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px; }

.order-summary__label {
  text-align: left;
  flex: 1; }
  .order-summary__label--bold {
    font-weight: 700; }

.order-summary__value {
  text-align: right;
  flex: 1; }

.input__field {
  display: block;
  margin: 8px 0 16px;
  padding: 17px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #D1D2D4;
  border-radius: 2px; }
  .input__field:focus {
    outline-color: #6E4099; }

.input__label {
  display: block;
  margin: 8px 0; }

.required-field::after {
  content: '•';
  color: #DE058B;
  font-size: 15px; }

.dropdown__button {
  text-align: left;
  background-color: white;
  display: flex; }
  .dropdown__button input {
    background-color: transparent;
    border: 0; }
  .dropdown__button--open {
    margin: 8px 0 0; }
    .dropdown__button--open + .dropdown__list {
      display: block; }

.dropdown__caret {
  background-color: #2C2E2D;
  width: 52px;
  margin-top: -18px;
  margin-right: -18px;
  margin-bottom: -18px;
  height: 52px;
  color: white;
  padding: 14px;
  box-sizing: border-box; }

.dropdown__choosed-item {
  flex: 1; }

.dropdown__list {
  display: none;
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
  border-left: 1px solid #D1D2D4;
  border-right: 1px solid #D1D2D4; }

.dropdown__item {
  display: block;
  padding: 17px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #D1D2D4;
  border-radius: 2px; }
  .dropdown__item:hover {
    background-color: #D1D2D4; }

.button {
  background-color: #6E4099;
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 17px;
  border: 0;
  border-radius: 2px;
  margin: 8px 0;
  font-weight: 700; }
  .button:focus, .button:hover {
    background-color: #543175;
    outline: 0; }
  .button--not-valid {
    background-color: #D1D2D4; }
    .button--not-valid:focus, .button--not-valid:hover {
      background-color: #D1D2D4;
      outline: 0; }

.button-mobile-menu {
  background: transparent;
  border: 0; }
  .button-mobile-menu__label {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px; }

.brand {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  padding-top: 9px; }
  @media all and (min-width: 767px) {
    .brand {
      font-size: 35px; } }

.heading {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px; }
  .heading--centered {
    text-align: center; }

.main-nav {
  display: none; }
  .main-nav.mobile-active {
    display: block; }
  @media all and (min-width: 767px) {
    .main-nav {
      display: block; } }
  .main-nav li {
    display: block; }
    @media all and (min-width: 767px) {
      .main-nav li {
        display: inline-block; } }

@media all and (min-width: 767px) {
  .button-mobile-menu {
    display: none; } }

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.header {
  border: 1px solid #000;
  width: 100%;
  background: white; }
  .header ul {
    list-style: none;
    padding: 0; }

.menu {
  display: flex; }

.checkout-button a, .checkout-button a:visited, .checkout-button a:hover {
  color: #543175;
  text-decoration: none; }

.checkout-button__label {
  display: none; }
  @media all and (min-width: 767px) {
    .checkout-button__label {
      display: inline-block; } }

@media all and (min-width: 767px) {
  .checkout-button__icon {
    display: none; } }
